<h1>Hey</h1>

<%= link_to "New User", new_user_path%>
<ul>
    <%User.all.each do |u|%>
        <li>
            <%= link_to u.username, u %>
        </li>
    <%end%>
</ul>
<ul>
    <%@posts.each do |p|%>
        <li>
            <%= link_to p.title, "users/#{p.user.id}/posts/#{p.id}"%>
        </li>
    <%end%>
</ul>